In [1]:
import pandas as pd
import math

**Load the data and explore its structure**

In [3]:
inspections = pd.read_csv('datasets/food-inspections.csv')

FileNotFoundError: [Errno 2] File b'datasets/food-inspections.csv' does not exist: b'datasets/food-inspections.csv'

In [30]:
#Display first rows of data
inspections.head(50)

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,...,Results,Violations,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,2345215,YOUNG SCHOLARS ACADEMY,YOUNG SCHOLARS ACADEMY,2457551.0,Daycare (2 - 6 Years),Risk 1 (High),10926-10928 S WESTERN AVE,CHICAGO,IL,60643.0,...,No Entry,NaN,41.694759,-87.681398,"{'latitude': '-87.68139820828976', 'longitude'...",NaN,NaN,NaN,NaN,NaN
1,2345244,OSITO'S TAP,OSITO'S TAP,2658134.0,Restaurant,Risk 1 (High),2553 S RIDGEWAY AVE,CHICAGO,IL,60623.0,...,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.844597,-87.718313,"{'latitude': '-87.71831255053898', 'longitude'...",NaN,NaN,NaN,NaN,NaN
2,2345216,LAS SISTERS INC.,LAS SISTERS INC,2689353.0,Restaurant,Risk 1 (High),2700 S TRUMBULL AVE,CHICAGO,IL,60623.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.842512,-87.711225,"{'latitude': '-87.71122481384815', 'longitude'...",NaN,NaN,NaN,NaN,NaN
3,2321177,CARNICERIA Y FRUTERIA 'LOS ALTOS' INC.,CARNICERIA Y FRUTERIA LOS ALTOS,1802424.0,Grocery Store,Risk 1 (High),2959 W 40TH ST,CHICAGO,IL,60632.0,...,Fail,"1. PERSON IN CHARGE PRESENT, DEMONSTRATES KNOW...",41.820772,-87.699407,"{'latitude': '-87.6994068536533', 'longitude':...",NaN,NaN,NaN,NaN,NaN
4,2321150,FOODA- 150 N RIVERSIDE,FOODA 150 N RIVERSIDE,2664859.0,Pop-Up Food Establishment User-Tier II,Risk 2 (Medium),150 N RIVERSIDE PLZ,CHICAGO,IL,60606.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.885089,-87.638406,"{'latitude': '-87.63840559417186', 'longitude'...",NaN,NaN,NaN,NaN,NaN
5,2321198,CHICAGO'S FINEST BEEF AND BREW,CHICAGO'S FINEST BEEF AND BREW,2694557.0,Restaurant,Risk 3 (Low),234 S WABASH AVE,CHICAGO,IL,60604.0,...,Fail,NaN,41.878674,-87.626242,"{'latitude': '-87.62624229534441', 'longitude'...",NaN,NaN,NaN,NaN,NaN
6,2321190,CHICAGO'S FINEST BEEF AND BREW,CHICAGO'S FINEST BEEF AND BREW,2694556.0,Restaurant,Risk 1 (High),234 S WABASH AVE,CHICAGO,IL,60604.0,...,Fail,33. PROPER COOLING METHODS USED; ADEQUATE EQUI...,41.878674,-87.626242,"{'latitude': '-87.62624229534441', 'longitude'...",NaN,NaN,NaN,NaN,NaN
7,2321127,STARBUCKS,STARBUCKS (T1 C-07),2583234.0,Restaurant,Risk 2 (Medium),11601 W TOUHY AVE,CHICAGO,IL,60666.0,...,Pass,NaN,42.008536,-87.914428,"{'latitude': '-87.91442843927047', 'longitude'...",NaN,NaN,NaN,NaN,NaN
8,2321181,PEKING MANDARIN RESTAURANT,PEKING MANDARIN RESTAURANT,30963.0,Restaurant,Risk 1 (High),3457-3459 W LAWRENCE AVE,CHICAGO,IL,60625.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.968268,-87.715667,"{'latitude': '-87.71566699095202', 'longitude'...",NaN,NaN,NaN,NaN,NaN
9,2321165,LA HUMITA,LA HUMITA,1622351.0,Restaurant,Risk 1 (High),3466 N PULASKI RD,CHICAGO,IL,60641.0,...,No Entry,NaN,41.944678,-87.727496,"{'latitude': '-87.72749564970051', 'longitude'...",NaN,NaN,NaN,NaN,NaN
10,2321135,CHICAGO PRODUCE,CHICAGO PRODUCE,1865.0,Grocery Store,Risk 1 (High),3500 W LAWRENCE AVE,CHICAGO,IL,60625.0,...,Pass w/ Conditions,23. PROPER DATE MARKING AND DISPOSITION - Comm...,41.968485,-87.715871,"{'latitude': '-87.71587132951537', 'longitude'...",NaN,NaN,NaN,NaN,NaN
11,2321178,NOMAD-CHICAGO,NOMAD,2698505.0,Restaurant,Risk 2 (Medium),820 N FRANKLIN ST,CHICAGO,IL,60610.0,...,Pass,NaN,41.897359,-87.635857,"{'latitude': '-87.6358574371038', 'longitude':...",NaN,NaN,NaN,NaN,NaN
12,2321116,Scammon Elementary School,Scammon Elementary School,25241.0,School,Risk 1 (High),4201 W Henderson (3332N),CHICAGO,IL,60641.0,...,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.941649,-87.732229,"{'latitude': '-87.73222900844841', 'longitude'...",NaN,NaN,NaN,NaN,NaN
13,2321201,"THE HOXTON, CHICAGO","THE HOXTON, CHICAGO",2636779.0,Restaurant,Risk 3 (Low),200 N GREEN ST,CHICAGO,IL,60607.0,...,Pass,NaN,41.885699,-87.648789,"{'latitude': '-87.64878908937915', 'longitude'...",NaN,NaN,NaN,NaN,NaN
14,2321204,"TONO TACOS, INC.","TONO TACOS, INC.",2284711.0,Restaurant,Risk 1 (High),6104 W DIVERSEY AVE,CHICAGO,IL,60639.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.931211,-87.778615,"{'latitude': '-87.77861499636276', 'longitude'...",NaN,NaN,NaN,NaN,NaN
15,2321132,HOST INTERNATIONAL INC,VIENNA BEEF/PIZZERIA UNO (T1 C6),34222.0,Restaurant,Risk 2 (Medium),11601 W TOUHY AVE,CHICAGO,IL,60666.0,...,Pass,NaN,42.008536,-87.914428,"{'latitude': '-87.91442843927047', 'longitude'...",NaN,NaN,NaN,NaN,NaN
16,2321148,WILLIAM G. HIBBARD ELEMENTARY SCHOOL,WILLIAM G HIBBARD ELEMENTARY SCHOOL,23801.0,School,Risk 1 (High),3244 W Ainslie ST,CHICAGO,IL,60625.0,...,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.970363,-87.710362,"{'latitude': '-87.71036214052708', 'longitude'...",NaN,NaN,NaN,NaN,NaN
17,2321122,GREEN BEGINNINGS LLC,GREEN BEGINNINGS LLC,2277938.0,Daycare Above and Under 2 Years,Risk 1 (High),1436 W RANDOLPH ST,CHICAGO,IL,60607.0,...,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.884385,-87.663480,"{'latitude': '-87.66347994097463', 'longitude'...",NaN,NaN,NaN,NaN,NaN
18,2321187,BANG BANG BISCUITS,BANG BANG BISCUITS,2458777.0,Restaurant,Risk 1 (High),4947 N DAMEN AVE,CHICAGO,IL,60625.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.971969,-87.679136,"{'latitude': '-87.67913613598748', 'longitude'...",NaN,NaN,NaN,NaN,NaN
19,2321196,"SODEXO AMERICA, LLC",UNITED EMPLOYEE CAFETERIA (T1-C MID LEVEL),2560546.0,Restaurant,Risk 1 (High),11601 W TOUHY AVE,CHICAGO,IL,60666.0,...,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,42.008536,-87.914428,"{'latitude': '-87.91442843927047', 'longitude'...",NaN,NaN,NaN,NaN,NaN
20,2321168,DUNKIN DONUTS,DUNKIN DONUTS,15623.0,Restaurant,Risk 2 (Medium),5200 N LINCOLN AVE,CHICAGO,IL,60625.0,...,Pass,NaN,41.975913,-87.692494,"{'latitude': '-87.69249417466321', 'longitude'...",NaN,NaN,NaN,NaN,NaN
21,2321166,SUBWAY,SUBWAY,2529116.0,Restaurant,Risk 1 (High),2620 N NARRAGANSETT AVE,CHICAGO,IL,60639.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.927995,-87.785752,"{'latitude': '-87.78575236468352', 'longitude'...",NaN,NaN,NaN,NaN,NaN
22,2321129,MING BRICKYARD SUPER CHINA BUFFET INC.,SUPER CHINA BUFFET,1490057.0,Restaurant,Risk 1 (High),2650 N NARRAGANSETT AVE,CHICAGO,IL,60639.0,...,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.928847,-87.785781,"{'latitude': '-87.78578101920121', 'longitude'...",NaN,NaN,NaN,NaN,NaN
23,2321118,CREATIVE KIDS DAYCARE CENTER INC.,CREATIVE KIDS DAYCARE CENTER INC.,2397674.0,Children's Services Facility,Risk 1 (High),3401-3403 W 55TH ST,CHICAGO,IL,60632.0,...,Pass,"53. TOILET FACILITIES: PROPERLY CONSTRUCTED, S...",41.793330,-87.708513,"{'latitude': '-87.70851340115165', 'longitude'...",NaN,NaN,NaN,NaN,NaN
24,2321207,KABOBCHI,KABOBCHI,2698908.0,NaN,Risk 1 (High),1519 W TAYLOR ST,CHICAGO,IL,60607.0,...,Not Ready,NaN,41.869178,-87.664907,"{'latitude': '-87.66490728096332', 'longitude'...",NaN,NaN,NaN,NaN,NaN
25,2321137,GOOSE ISLAND,GOOSE ISLAND (T1 C10),34159.0,Restaurant,Risk 2 (Medium),11601 W TOUHY AVE,CHICAGO,IL,60666.0,...,Pass,NaN,42.008536,-87.914428,"{'latitude': '-87.91442843927047', 'longitude'...",NaN,NaN,NaN,NaN,NaN
26,2321109,BANQUET ON ROCKWELL,BANQUET ON ROCKWELL,2583535.0,Restaurant,Risk 2 (Medium),6415 N ROCKWELL ST,CHICAGO,IL,60659.0,...,No Entry,NaN,41.998135,-87.694635,"{'latitude': '-87.6946350511454', 'longitude':...",NaN,NaN,NaN,NaN,NaN
27,2321045,MIDWEST FUEL,MIDWEST FUEL,2694963.0,GAS STATION/GROCERY,Risk 2 (Medium),7050 S DAMEN AVE,CHICAGO,IL,60636.0,...,Not Ready,NaN,41.765103,-87.673687,"{'latitude': '-87.6736873676057', 'longitude':...",NaN,NaN,NaN,NaN,NaN
28,2321054,MESA URBANA DOS,MESA URBANA DOS,2688955.0,Restaurant,Risk 3 (Low),1935 N LINCOLN PARK WEST,CHICAGO,IL,60614.0,...,Pass w/ Conditions,NaN,41.917165,-87.636201,"{'latitude': '-87.63620087405286', 'longitude'...",NaN,NaN,NaN,NaN,NaN
29,2321042,KINTON RAMEN 2,KINTON RAMEN,2652295.0,Restaurant,Risk 3 (Low),1426 N MILWAUKEE AVE,CHICAGO,IL,60622.0,...,Pass w/ Conditions,NaN,41.907798,-87.673659,"{'latitude': '-87.67365883545042', 'longitude'...",NaN,NaN,NaN,NaN,NaN
30,2321063,ALCOIRIS INC,ALCOIRIS,30948.0,Restaurant,Risk 1 (High),4007 W ARMITAGE AVE,CHICAGO,IL,60639.0,...,Pass,58. ALLERGEN TRAINING AS REQUIRED - Comments: ...,41.917052,-87.726893,"{'latitude': '-87.72689273615504', 'longitude'...",NaN,NaN,NaN,NaN,NaN
31,2321112,TAKETEI,TAKETEI,2192948.0,Restaurant,Risk 1 (High),1111 W BERWYN AVE,CHICAGO,IL,60640.0,...,Out of Business,NaN,41.978060,-87.658366,"{'latitude': '-87.65836617836996', 'longitude'...",NaN,NaN,NaN,NaN,NaN
32,2321035,EL BUEN VALLE RESTAURANT,EL BUEN VALLE RESTAURANT,2133985.0,Restaurant,Risk 1 (High),4114 W NORTH AVE,CHICAGO,IL,60639.0,...,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,41.909952,-87.729531,"{'latitude': '-87.72953056213507', 'longitude'...",NaN,NaN,NaN,NaN,NaN
33,2321006,CHILE TOREADO RESTAURANT,CHILE TOREADO RESTAURANT,2694543.0,Restaurant,Risk 1 (High),2022-2026 W 35TH ST,CHICAGO,IL,60609.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.830490,-87.676207,"{'latitude': '-87.6762068763212', 'longitude':...",NaN,NaN,NaN,NaN,NaN
34,2321078,TAQUERIA NUEVO JALISCO,NUEVO JALISCO,2348465.0,Restaurant,Risk 1 (High),4011 W ARMITAGE AVE,CHICAGO,IL,60639.0,...,Pass w/ Conditions,25. CONSUMER ADVISORY PROVIDED FOR RAW/UNDERCO...,41.917050,-87.727076,"{'latitude': '-87.72707606104667', 'longitude'...",NaN,NaN,NaN,NaN,NaN
35,2321075,CHARLOTTE'S BAR AND GRILL,CHARLOTTE'S BAR AND GRILL,24249.0,Restaurant,Risk 1 (High),6000 W GUNNISON ST,CHICAGO,IL,60630.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.968642,-87.778302,"{'latitude': '-87.77830163616822', 'longitude'...",NaN,NaN,NaN,NaN,NaN
36,2321019,EAT ME MILK ME,EAT ME MILK ME,2641875.0,Restaurant,Risk 1 (High),1111 W RANDOLPH ST,CHICAGO,IL,60607.0,...,Fail,"1. PERSON IN CHARGE PRESENT, DEMONSTRATES KNOW...",41.884166,-87.654929,"{'latitude': '-87.65492937323211', 'longitude'...",NaN,NaN,NaN,NaN,NaN
37,2321101,VICTOR'S RESTAURANT AND PIZZA,VICTOR'S RESTAURANT AND PIZZA,2560416.0,Restaurant,Risk 1 (High),5418 W NORTH AVE,CHICAGO,IL,60639.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.909538,-87.761430,"{'latitude': '-87.76143045876287', 'longitude'...",NaN,NaN,NaN,NaN,NaN
38,2321046,2934 W DIVERSEY LLC,2934 W DIVERSEY LLC,2671685.0,Restaurant,Risk 1 (High),2934 W DIVERSEY AVE,CHICAGO,IL,60647.0,...,Fail,"1. PERSON IN CHARGE PRESENT, DEMONSTRATES KNOW...",41.932179,-87.701518,"{'latitude': '-87.70151831687924', 'longitude'...",NaN,NaN,NaN,NaN,NaN
39,2321033,FRY THE COOP,FRY THE COOP,2678075.0,Restaurant,Risk 2 (Medium),1529 W CHICAGO AVE,CHICAGO,IL,60642.0,...,Pass,NaN,41.895982,-87.666046,"{'latitude': '-87.66604606950455', 'longitude'...",NaN,NaN,NaN,NaN,NaN
40,2321014,SMART CHILD PRESCHOOL,SMART CHILD PRESCHOOL,2220643.0,15 monts to 5 years old,Risk 1 (High),5100 W FOSTER AVE,CHICAGO,IL,60630.0,...,Fail,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,41.975355,-87.755348,"{'latitude': '-87.75534848899323', 'longitude'...",NaN,NaN,NaN,NaN,NaN
41,2321034,DELHI DARBAR,DELHI DARBAR,2695158.0,Restaurant,Risk 1 (High),3010 W Devon AVE,CHICAGO,IL,60659.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.997576,-87.705001,"{'latitude': '-87.70500110804562', 'longitude'...",NaN,NaN,NaN,NaN,NaN
42,2321029,"LEON'S CHICAGO'S BEST, INC",LEON'S,2570328.0,Restaurant,Risk 1 (High),1528 E 63RD ST,CHICAGO,IL,60637.0,...,Fail,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.780701,-87.587886,"{'latitude': '-87.58788626949153', 'longitude'...",NaN,NaN,NaN,NaN,NaN
43,2321057,"MELIA FOOD MART, INC.",MELIA FOOD MART INC.,2698247.0,Grocery Store,Risk 1 (High),747 W 79TH ST,CHICAGO,IL,60620.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.750542,-87.643473,"{'latitude': '-87.64347255569072', 'longitude'...",NaN,NaN,NaN,NaN,NaN
44,2321089,LAS CEREZAS INC.,LAS CEREZAS,2541741.0,Restaurant,Risk 2 (Medium),6659 S CICERO AVE,CHICAGO,IL,60638.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.771223,-87.741910,"{'latitude': '-87.74191038750742', 'longitude'...",NaN,NaN,NaN,NaN,NaN
45,2321110,FARMERS ZABIHA HALAL MEAT INC.,FARMERS ZABIHA HALAL MEAT INC.,1869376.0,Grocery Store,Risk 2 (Medium),2643 W DEVON AVE,CHICAGO,IL,60659.0,...,Out of Business,NaN,41.997506,-87.696465,"{'latitude': '-87.69646451017134', 'longitude'...",NaN,NaN,NaN,NaN,NaN
46,2321024,HARVARD ELEMENTARY SCHOOL,HARVARD ELEMENTARY SCHOOL,23581.0,School,Risk 1 (High),7525 S Harvard (332W),CHICAGO,IL,60620.0,...,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.757335,-87.632700,"{'latitude': '-87.63270008365268', 'longitude'...",NaN,NaN,NaN,NaN,NaN
47,2321055,2934 W DIVERSEY LLC,2934 W DIVERSEY LLC,2671686.0,Restaurant,Risk 3 (Low),2934 W DIVERSEY AVE,CHICAGO,IL,60647.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.932179,-87.701518,"{'latitude': '-87.70151831687924', 'longitude'...",NaN,NaN,NaN,NaN,NaN
48,2321025,ST. CONSTANCE ELEMENTARY SCHOOL,ST. CONSTANCE ELEMENTARY SCHOOL,1878492.0,School,Risk 1 (High),5841 W STRONG,CHICAGO,IL,60630.0,...,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,41.970176,-87.775099,"{'latitude': '-87.77509944904432', 'longitude'...",NaN,NaN,NaN,NaN,NaN
49,2321104,CHARCOAL FLAME,CHARCOAL FLAME,2671261.0,Restaurant,Risk 1 (High),7003 N CLARK ST,CHICAGO,IL,60626.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",42.009133,-87.673846,"{'latitude': '-87.6738463824712', 'longitude':...",NaN,NaN,NaN,NaN,NaN

In [14]:
#Display columns
inspections.columns

Index(['Inspection ID', 'DBA Name', 'AKA Name', 'License #', 'Facility Type',
       'Risk', 'Address', 'City', 'State', 'Zip', 'Inspection Date',
       'Inspection Type', 'Results', 'Violations', 'Latitude', 'Longitude',
       'Location', 'Historical Wards 2003-2015', 'Zip Codes',
       'Community Areas', 'Census Tracts', 'Wards'],
      dtype='object')

In [12]:
# Data shape
inspections.shape

(195556, 22)

**Explore the difference between DBA and AKA names**

In [28]:
print ('There are {0} unique DBA names in the dataset.'.format(len(inspections['DBA Name'].unique())))

There are 27545 unique DBA names in the dataset.

In [29]:
# Display the number of restaurants (we display the unique DBA names)
print ('There are {0} AKA names in the dataset.'.format(len(inspections['AKA Name'].unique())))

There are 26274 AKA names in the dataset.

In [34]:
# Explore how DBA and AKA names differ
print ('There are {0} rows where the DBA names and the AKA names differ.'\
       .format((len(inspections[inspections['DBA Name'] != inspections['AKA Name']]))))

There are 50839 rows where the DBA names and the AKA names differ.

In [123]:
print('Examples of different DBA and AKA names : ')
inspections[inspections['DBA Name'] != inspections['AKA Name']].head(2)

Examples of different DBA and AKA names :

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,...,Results,Violations,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
2,2345216,LAS SISTERS INC.,LAS SISTERS INC,2689353.0,Restaurant,Risk 1 (High),2700 S TRUMBULL AVE,CHICAGO,IL,60623.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.842512,-87.711225,"{'latitude': '-87.71122481384815', 'longitude'...",NaN,NaN,NaN,NaN,NaN
3,2321177,CARNICERIA Y FRUTERIA 'LOS ALTOS' INC.,CARNICERIA Y FRUTERIA LOS ALTOS,1802424.0,Grocery Store,Risk 1 (High),2959 W 40TH ST,CHICAGO,IL,60632.0,...,Fail,"1. PERSON IN CHARGE PRESENT, DEMONSTRATES KNOW...",41.820772,-87.699407,"{'latitude': '-87.6994068536533', 'longitude':...",NaN,NaN,NaN,NaN,NaN