In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import math

from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

import findspark
findspark.init()

import pyspark
import pyspark.sql
from pyspark.sql import *
from pyspark.sql.functions import *

# Dataset(s) preparation and cleaning

Before we proceed to tackle each of our research questions, some data cleaning is in order.

## Load the data and explore its structure

In [61]:
inspections = pd.read_csv('datasets/food-inspections.csv')

In [62]:
inspections.size

4306192

In [63]:
#Display first rows of data
inspections.head(50)

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,...,Results,Violations,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,2345318,SUBWAY,SUBWAY,2529116.0,Restaurant,Risk 1 (High),2620 N NARRAGANSETT AVE,CHICAGO,IL,60639.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.927995,-87.785752,"{'longitude': '41.92799528871574', 'latitude':...",NaN,NaN,NaN,NaN,NaN
1,2345334,LA MICHOACANA ICE CREAM SHOP,LA MICHOACANA ICE CREAM SHOP,2698396.0,Restaurant,Risk 1 (High),3591-3597 N MILWAUKEE AVE,CHICAGO,IL,60641.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.946140,-87.735183,"{'longitude': '41.94614005344282', 'latitude':...",NaN,NaN,NaN,NaN,NaN
2,2345339,THE CREPE SHOP,THE CREPE SHOP,2699005.0,Restaurant,Risk 1 (High),2934 N BROADWAY,CHICAGO,IL,60657.0,...,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.935930,-87.644407,"{'longitude': '41.93592957402078', 'latitude':...",NaN,NaN,NaN,NaN,NaN
3,2345321,GOPUFF,GOPUFF,2684560.0,Grocery Store,Risk 3 (Low),1801 W WARNER AVE,CHICAGO,IL,60613.0,...,Pass,NaN,41.956846,-87.674395,"{'longitude': '41.956845683288854', 'latitude'...",NaN,NaN,NaN,NaN,NaN
4,2345319,GOPUFF,GOPUFF,2684558.0,Grocery Store,Risk 3 (Low),1801 W WARNER AVE,CHICAGO,IL,60613.0,...,Pass,39. CONTAMINATION PREVENTED DURING FOOD PREPAR...,41.956846,-87.674395,"{'longitude': '41.956845683288854', 'latitude'...",NaN,NaN,NaN,NaN,NaN
5,2345302,Pizza Hut,Pizza Hut,2476781.0,Restaurant,Risk 1 (High),5035 N LINCOLN AVE,CHICAGO,IL,60625.0,...,Out of Business,NaN,41.972793,-87.691092,"{'longitude': '41.972793193319774', 'latitude'...",NaN,NaN,NaN,NaN,NaN
6,2345217,"LUNA PARK, INC.",LUNA PARK DAY CARE,2215485.0,Children's Services Facility,Risk 1 (High),3250 W FOSTER AVE,CHICAGO,IL,60625.0,...,Pass,49. NON-FOOD/FOOD CONTACT SURFACES CLEAN - Com...,41.975834,-87.710746,"{'longitude': '41.97583445690982', 'latitude':...",NaN,NaN,NaN,NaN,NaN
7,2345244,OSITO'S TAP,OSITO'S TAP,2658134.0,Restaurant,Risk 1 (High),2553 S RIDGEWAY AVE,CHICAGO,IL,60623.0,...,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.844597,-87.718313,"{'longitude': '41.84459718759861', 'latitude':...",NaN,NaN,NaN,NaN,NaN
8,2345247,STOCKTON,STOCKTON,2684366.0,Restaurant,Risk 3 (Low),1009-1011 N RUSH ST,CHICAGO,IL,60611.0,...,Pass w/ Conditions,NaN,41.901042,-87.627490,"{'longitude': '41.901042374044735', 'latitude'...",NaN,NaN,NaN,NaN,NaN
9,2345242,L & M FINE FOODS,L & M FINE FOODS,2631147.0,Grocery Store,Risk 1 (High),4361-4365 N LINCOLN AVE,CHICAGO,IL,60618.0,...,Pass,NaN,41.961270,-87.683589,"{'longitude': '41.96127036208352', 'latitude':...",NaN,NaN,NaN,NaN,NaN
10,2345261,CHICAGO SOCCER RESTAURANT,CHICAGO SOCCER RESTAURANT,1915583.0,Restaurant,Risk 1 (High),5404 N KEDZIE AVE,CHICAGO,IL,60625.0,...,No Entry,NaN,41.979628,-87.708922,"{'longitude': '41.979628229124486', 'latitude'...",NaN,NaN,NaN,NaN,NaN
11,2345243,L & M FINE FOODS,L & M FINE FOODS,2631148.0,Grocery Store,Risk 1 (High),4361-4365 N LINCOLN AVE,CHICAGO,IL,60618.0,...,Pass,NaN,41.961270,-87.683589,"{'longitude': '41.96127036208352', 'latitude':...",NaN,NaN,NaN,NaN,NaN
12,2345304,JUNEBUG CAFE,JUNEBUG CAFE,2616846.0,COFFEE SHOP,Risk 2 (Medium),4944 W IRVING PARK RD,CHICAGO,IL,60641.0,...,Pass,NaN,41.953484,-87.751479,"{'longitude': '41.95348385428049', 'latitude':...",NaN,NaN,NaN,NaN,NaN
13,2345259,AVONDALE BOWL,AVONDALE BOWL,2646779.0,Liquor,Risk 3 (Low),3118 N MILWAUKEE AVE,CHICAGO,IL,60618.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.937577,-87.721589,"{'longitude': '41.93757737831865', 'latitude':...",NaN,NaN,NaN,NaN,NaN
14,2345229,CAFE MARBELLA,CAFE MARBELLA,2385788.0,Restaurant,Risk 1 (High),5527-5531 N Milwaukee AVE,CHICAGO,IL,60630.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.982350,-87.773660,"{'longitude': '41.982350141069084', 'latitude'...",NaN,NaN,NaN,NaN,NaN
15,2345289,STAR KITCHEN,STAR KITCHEN,2699016.0,Restaurant,Risk 1 (High),335 W 31ST ST,CHICAGO,IL,60616.0,...,Pass,NaN,41.838077,-87.635439,"{'longitude': '41.83807689208957', 'latitude':...",NaN,NaN,NaN,NaN,NaN
16,2345215,YOUNG SCHOLARS ACADEMY,YOUNG SCHOLARS ACADEMY,2457551.0,Daycare (2 - 6 Years),Risk 1 (High),10926-10928 S WESTERN AVE,CHICAGO,IL,60643.0,...,No Entry,NaN,41.694759,-87.681398,"{'longitude': '41.69475915827217', 'latitude':...",NaN,NaN,NaN,NaN,NaN
17,2345250,OSITO'S TAP,OSITO'S TAP,2641411.0,Restaurant,Risk 3 (Low),2553 S RIDGEWAY AVE,CHICAGO,IL,60623.0,...,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.844597,-87.718313,"{'longitude': '41.84459718759861', 'latitude':...",NaN,NaN,NaN,NaN,NaN
18,2345236,GABY'S PANADERIA Y PIZZERIA,PANADERIA Y PIZZERIA LA VILLA,2550529.0,Bakery,Risk 1 (High),5050-5054 W FULLERTON AVE,CHICAGO,IL,60639.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.924257,-87.753258,"{'longitude': '41.92425666505584', 'latitude':...",NaN,NaN,NaN,NaN,NaN
19,2345235,STOCKTON,STOCKTON,2684365.0,Restaurant,Risk 1 (High),1009-1011 N RUSH ST,CHICAGO,IL,60611.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.901042,-87.627490,"{'longitude': '41.901042374044735', 'latitude'...",NaN,NaN,NaN,NaN,NaN
20,2345255,TAQUERIA LOS FLACOS,TAQUERIA LOS FLACOS,2488725.0,Restaurant,Risk 1 (High),3818 W LAWRENCE AVE,CHICAGO,IL,60625.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.968395,-87.723981,"{'longitude': '41.96839468756255', 'latitude':...",NaN,NaN,NaN,NaN,NaN
21,2345275,EASTERN BAKERY,EASTERN BAKERY,2698714.0,Bakery,Risk 2 (Medium),2927 W TOUHY AVE,CHICAGO,IL,60645.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",42.011882,-87.703231,"{'longitude': '42.01188160585908', 'latitude':...",NaN,NaN,NaN,NaN,NaN
22,2345227,SHELL,SHELL,2689767.0,Grocery Store,Risk 3 (Low),6659 S WENTWORTH AVE,CHICAGO,IL,60621.0,...,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,41.772809,-87.629820,"{'longitude': '41.77280931811419', 'latitude':...",NaN,NaN,NaN,NaN,NaN
23,2345303,MOY LEE CHINESE RESTAURANT,MOY LEE CHINESE RESTAURANT,2698794.0,Restaurant,Risk 1 (High),5346 N MILWAUKEE AVE,CHICAGO,IL,60630.0,...,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,41.977764,-87.769830,"{'longitude': '41.97776393135019', 'latitude':...",NaN,NaN,NaN,NaN,NaN
24,2345216,LAS SISTERS INC.,LAS SISTERS INC,2689353.0,Restaurant,Risk 1 (High),2700 S TRUMBULL AVE,CHICAGO,IL,60623.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.842512,-87.711225,"{'longitude': '41.84251234796448', 'latitude':...",NaN,NaN,NaN,NaN,NaN
25,2345313,MOY LEE RESTAURANT,MOY LEE RESTAURANT,28853.0,Restaurant,Risk 1 (High),5346 N MILWAUKEE AVE,CHICAGO,IL,60630.0,...,Out of Business,NaN,41.977764,-87.769830,"{'longitude': '41.97776393135019', 'latitude':...",NaN,NaN,NaN,NaN,NaN
26,2345237,L & M FINE FOODS,L & M FINE FOODS,2631146.0,Grocery Store,Risk 1 (High),4361-4365 N LINCOLN AVE,CHICAGO,IL,60618.0,...,Pass,51. PLUMBING INSTALLED; PROPER BACKFLOW DEVICE...,41.961270,-87.683589,"{'longitude': '41.96127036208352', 'latitude':...",NaN,NaN,NaN,NaN,NaN
27,2345248,SHARKS FISH & CHICKEN,SHARKS FISH & CHICKEN,2699066.0,Restaurant,Risk 2 (Medium),8255 S KEDZIE AVE,CHICAGO,IL,60652.0,...,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,41.742703,-87.702056,"{'longitude': '41.742703308073345', 'latitude'...",NaN,NaN,NaN,NaN,NaN
28,2345252,DUNKIN DONUTS,DUNKIN DONUTS,2698973.0,Restaurant,Risk 2 (Medium),128 N STATE ST,CHICAGO,IL,60602.0,...,Not Ready,NaN,41.883883,-87.628039,"{'longitude': '41.883882629163985', 'latitude'...",NaN,NaN,NaN,NaN,NaN
29,2321210,Cafe Latin Bliss,Cafe Latin Bliss,8404.0,Restaurant,Risk 1 (High),5515 N LINCOLN AVE,CHICAGO,IL,60625.0,...,No Entry,NaN,41.981866,-87.692834,"{'longitude': '41.98186603682908', 'latitude':...",NaN,NaN,NaN,NaN,NaN
30,2321137,GOOSE ISLAND,GOOSE ISLAND (T1 C10),34159.0,Restaurant,Risk 2 (Medium),11601 W TOUHY AVE,CHICAGO,IL,60666.0,...,Pass,NaN,42.008536,-87.914428,"{'longitude': '42.008536400868735', 'latitude'...",NaN,NaN,NaN,NaN,NaN
31,2345211,SHAH JALAL GROCERY,SHAH JALAL GROCERY,2073857.0,Grocery Store,Risk 2 (Medium),2634 W DEVON AVE,CHICAGO,IL,60659.0,...,No Entry,NaN,41.997732,-87.696135,"{'longitude': '41.99773242416418', 'latitude':...",NaN,NaN,NaN,NaN,NaN
32,2321190,CHICAGO'S FINEST BEEF AND BREW,CHICAGO'S FINEST BEEF AND BREW,2694556.0,Restaurant,Risk 1 (High),234 S WABASH AVE,CHICAGO,IL,60604.0,...,Fail,33. PROPER COOLING METHODS USED; ADEQUATE EQUI...,41.878674,-87.626242,"{'longitude': '41.878674348181335', 'latitude'...",NaN,NaN,NaN,NaN,NaN
33,2321177,CARNICERIA Y FRUTERIA 'LOS ALTOS' INC.,CARNICERIA Y FRUTERIA LOS ALTOS,1802424.0,Grocery Store,Risk 1 (High),2959 W 40TH ST,CHICAGO,IL,60632.0,...,Fail,"1. PERSON IN CHARGE PRESENT, DEMONSTRATES KNOW...",41.820772,-87.699407,"{'longitude': '41.8207715298359', 'latitude': ...",NaN,NaN,NaN,NaN,NaN
34,2321166,SUBWAY,SUBWAY,2529116.0,Restaurant,Risk 1 (High),2620 N NARRAGANSETT AVE,CHICAGO,IL,60639.0,...,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.927995,-87.785752,"{'longitude': '41.92799528871574', 'latitude':...",NaN,NaN,NaN,NaN,NaN
35,2321127,STARBUCKS,STARBUCKS (T1 C-07),2583234.0,Restaurant,Risk 2 (Medium),11601 W TOUHY AVE,CHICAGO,IL,60666.0,...,Pass,NaN,42.008536,-87.914428,"{'longitude': '42.008536400868735', 'latitude'...",NaN,NaN,NaN,NaN,NaN
36,2321196,"SODEXO AMERICA, LLC",UNITED EMPLOYEE CAFETERIA (T1-C MID LEVEL),2560546.0,Restaurant,Risk 1 (High),11601 W TOUHY AVE,CHICAGO,IL,60666.0,...,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,42.008536,-87.914428,"{'longitude': '42.008536400868735', 'latitude'...",NaN,NaN,NaN,NaN,NaN
37,2321165,LA HUMITA,LA HUMITA,1622351.0,Restaurant,Risk 1 (High),3466 N PULASKI RD,CHICAGO,IL,60641.0,...,No Entry,NaN,41.944678,-87.727496,"{'longitude': '41.94467795956372', 'latitude':...",NaN,NaN,NaN,NaN,NaN
38,2321148,WILLIAM G. HIBBARD ELEMENTARY SCHOOL,WILLIAM G HIBBARD ELEMENTARY SCHOOL,23801.0,School,Risk 1 (High),3244 W Ainslie ST,CHICAGO,IL,60625.0,...,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.970363,-87.710362,"{'longitude': '41.97036267439323', 'latitude':...",NaN,NaN,NaN,NaN,NaN
39,2321135,CHICAGO PRODUCE,CHICAGO PRODUCE,1865.0,Grocery Store,Risk 1 (High),3500 W LAWRENCE AVE,CHICAGO,IL,60625.0,...,Pass w/ Conditions,23. PROPER DATE MARKING AND DISPOSITION - Comm...,41.968485,-87.715871,"{'longitude': '41.96848537331812', 'latitude':...",NaN,NaN,NaN,NaN,NaN
40,2321181,PEKING MANDARIN RESTAURANT,PEKING MANDARIN RESTAURANT,30963.0,Restaurant,Risk 1 (High),3457-3459 W LAWRENCE AVE,CHICAGO,IL,60625.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.968268,-87.715667,"{'longitude': '41.96826769702089', 'latitude':...",NaN,NaN,NaN,NaN,NaN
41,2321129,MING BRICKYARD SUPER CHINA BUFFET INC.,SUPER CHINA BUFFET,1490057.0,Restaurant,Risk 1 (High),2650 N NARRAGANSETT AVE,CHICAGO,IL,60639.0,...,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.928847,-87.785781,"{'longitude': '41.928847223323764', 'latitude'...",NaN,NaN,NaN,NaN,NaN
42,2321168,DUNKIN DONUTS,DUNKIN DONUTS,15623.0,Restaurant,Risk 2 (Medium),5200 N LINCOLN AVE,CHICAGO,IL,60625.0,...,Pass,NaN,41.975913,-87.692494,"{'longitude': '41.97591289899352', 'latitude':...",NaN,NaN,NaN,NaN,NaN
43,2321178,NOMAD-CHICAGO,NOMAD,2698505.0,Restaurant,Risk 2 (Medium),820 N FRANKLIN ST,CHICAGO,IL,60610.0,...,Pass,NaN,41.897359,-87.635857,"{'longitude': '41.89735850745965', 'latitude':...",NaN,NaN,NaN,NaN,NaN
44,2321116,Scammon Elementary School,Scammon Elementary School,25241.0,School,Risk 1 (High),4201 W Henderson (3332N),CHICAGO,IL,60641.0,...,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.941649,-87.732229,"{'longitude': '41.941649437310005', 'latitude'...",NaN,NaN,NaN,NaN,NaN
45,2321150,FOODA- 150 N RIVERSIDE,FOODA 150 N RIVERSIDE,2664859.0,Pop-Up Food Establishment User-Tier II,Risk 2 (Medium),150 N RIVERSIDE PLZ,CHICAGO,IL,60606.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.885089,-87.638406,"{'longitude': '41.88508945576888', 'latitude':...",NaN,NaN,NaN,NaN,NaN
46,2321201,"THE HOXTON, CHICAGO","THE HOXTON, CHICAGO",2636779.0,Restaurant,Risk 3 (Low),200 N GREEN ST,CHICAGO,IL,60607.0,...,Pass,NaN,41.885699,-87.648789,"{'longitude': '41.885699197163355', 'latitude'...",NaN,NaN,NaN,NaN,NaN
47,2321187,BANG BANG BISCUITS,BANG BANG BISCUITS,2458777.0,Restaurant,Risk 1 (High),4947 N DAMEN AVE,CHICAGO,IL,60625.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.971969,-87.679136,"{'longitude': '41.971969426617925', 'latitude'...",NaN,NaN,NaN,NaN,NaN
48,2321118,CREATIVE KIDS DAYCARE CENTER INC.,CREATIVE KIDS DAYCARE CENTER INC.,2397674.0,Children's Services Facility,Risk 1 (High),3401-3403 W 55TH ST,CHICAGO,IL,60632.0,...,Pass,"53. TOILET FACILITIES: PROPERLY CONSTRUCTED, S...",41.793330,-87.708513,"{'longitude': '41.79333004477491', 'latitude':...",NaN,NaN,NaN,NaN,NaN
49,2321132,HOST INTERNATIONAL INC,VIENNA BEEF/PIZZERIA UNO (T1 C6),34222.0,Restaurant,Risk 2 (Medium),11601 W TOUHY AVE,CHICAGO,IL,60666.0,...,Pass,NaN,42.008536,-87.914428,"{'longitude': '42.008536400868735', 'latitude'...",NaN,NaN,NaN,NaN,NaN

The dataset has 22 columns. Let's examine what each of them is.

In [64]:
#Display columns
inspections.columns

Index(['Inspection ID', 'DBA Name', 'AKA Name', 'License #', 'Facility Type',
       'Risk', 'Address', 'City', 'State', 'Zip', 'Inspection Date',
       'Inspection Type', 'Results', 'Violations', 'Latitude', 'Longitude',
       'Location', 'Historical Wards 2003-2015', 'Zip Codes',
       'Community Areas', 'Census Tracts', 'Wards'],
      dtype='object')

## Clean data

The 'Location' column contains the latitude and longitude of the establishment. However, there are separate 'Latitude' and 'Longitude' columns. We can hence safely drop the 'Location' column.

In [65]:
inspections = inspections.drop(columns=['Location'])

The head of the dataset only contains NaN entries for the 'Historical Wards 2003-2015', 'Zip Codes', 'Community Areas', 'Census Tracts', 'Wards' columns. Let's see if this is true for the whole dataset.

In [66]:
# make sure that our assumption is correct
print('Values taken by \'Historical Wards 2003-2015\': ', inspections['Zip Codes'].unique())
print('Values taken by \'Zip Codes\': ', inspections['Zip Codes'].unique())
print('Values taken by \'Community Areas\': ', inspections['Zip Codes'].unique())
print('Values taken by \'Census Tracts\': ', inspections['Zip Codes'].unique())
print('Values taken by \'Wards\': ', inspections['Zip Codes'].unique())

Values taken by 'Historical Wards 2003-2015':  [nan]
Values taken by 'Zip Codes':  [nan]
Values taken by 'Community Areas':  [nan]
Values taken by 'Census Tracts':  [nan]
Values taken by 'Wards':  [nan]

We drop all columns apart from the 'Community Areas' because we will be needing it in our study. We will fill later.

In [67]:
inspections = inspections.drop(columns=['Historical Wards 2003-2015'])
inspections = inspections.drop(columns=['Zip Codes'])
inspections = inspections.drop(columns=['Census Tracts'])
inspections = inspections.drop(columns=['Wards'])

Let's examine if the whole dataset is relevent to the study we are conducting by seeing which entries correspond to facilities in Chicago.

First, we check if there are any missing values for the column 'City' or 'State'

In [68]:
#Investigate the state=nan and city=nan restaurants
inspections[pd.isnull(inspections.State) | pd.isnull(inspections.City)]

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Community Areas
1669,2312774,CHICAGO COLLEGIATE CHARTER,CHICAGO COLLEGIATE CHARTER,3846104.0,School,Risk 1 (High),10909 S COTTAGE GROVE AVE,NaN,IL,NaN,2019-09-24T00:00:00.000,Canvass Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.696087,-87.608945,NaN
1879,2312540,CHICAGO COLLEGIATE CHARTER,CHICAGO COLLEGIATE CHARTER,3846104.0,School,Risk 1 (High),10909 S COTTAGE GROVE AVE,NaN,IL,NaN,2019-09-19T00:00:00.000,Canvass Re-Inspection,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.696087,-87.608945,NaN
1903,2312545,JCYS IRIS & STEVEN PODOLSKY FAMILY CENTER,JCYS IRIS & STEVEN PODOLSKY FAMILY CENTER,2671297.0,Children's Services Facility,Risk 1 (High),2112 W LAWRENCE AVE,NaN,IL,60625.0,2019-09-19T00:00:00.000,License Re-Inspection,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.968821,-87.682201,NaN
3073,2305166,"AMY BECK CAKE DESIGN, LLC","AMY BECK CAKE DESIGN, LLC",2079264.0,Bakery,Risk 1 (High),636 N RACINE AVE,NaN,NaN,60642.0,2019-08-23T00:00:00.000,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.893380,-87.657588,NaN
3617,2304583,JCYS IRIS & STEVEN PODOLSKY FAMILY CENTER,JCYS IRIS & STEVEN PODOLSKY FAMILY CENTER,2671297.0,Children's Services Facility,Risk 1 (High),2112 W LAWRENCE AVE,NaN,IL,60625.0,2019-08-13T00:00:00.000,License,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.968821,-87.682201,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194253,60291,"CLOVERHILL PASTRY-VEND,LLC","CLOVERHILL PASTRY-VEND,LLC",2004357.0,Wholesale,Risk 3 (Low),4464 W 44TH ST,NaN,IL,60632.0,2010-02-03T00:00:00.000,License Re-Inspection,Pass,NaN,41.814266,-87.736013,NaN
194489,60282,"CLOVERHILL PASTRY-VEND,LLC","CLOVERHILL PASTRY-VEND,LLC",2004357.0,Wholesale,Risk 3 (Low),4464 W 44TH ST,NaN,IL,60632.0,2010-01-28T00:00:00.000,License,Fail,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,41.814266,-87.736013,NaN
194610,60279,"CLOVERHILL PASTRY-VEND,LLC","CLOVERHILL PASTRY-VEND,LLC",2004357.0,Wholesale,Risk 3 (Low),4464 W 44TH ST,NaN,IL,60632.0,2010-01-27T00:00:00.000,License,Fail,NaN,41.814266,-87.736013,NaN
195141,67912,THREE CHEFS RESTURANT,THREE CHEFS RESTURANT,2009471.0,Restaurant,Risk 1 (High),8125 S HALSTED ST,NaN,IL,60620.0,2010-01-15T00:00:00.000,License Re-Inspection,Pass,NaN,41.746236,-87.643766,NaN
195417,67807,SUN FOOD MART,SUN FOOD MART,2009479.0,Grocery Store,Risk 3 (Low),3601 W CERMAK RD,NaN,IL,NaN,2010-01-11T00:00:00.000,License Re-Inspection,Pass,NaN,41.851553,-87.715059,NaN

Looking at the coordinates of these places, all of them seem to also be in chicago, so we will fill their City and State columns

In [69]:
inspections['City'] = inspections['City'].fillna('Chicago')
inspections['State'] = inspections['State'].fillna('IL')

Next, we check if there are any facilities which are not located in Chicago.

In [70]:
# make sure that our assumption is correct
print('Values taken by \'City\': ', inspections['City'].unique())

Values taken by 'City':  ['CHICAGO' 'Chicago' 'chicago' 'GRIFFITH' 'NEW YORK' 'SCHAUMBURG'
 'ELMHURST' 'ALGONQUIN' 'NEW HOLSTEIN' 'CCHICAGO' 'NILES NILES' 'EVANSTON'
 'CHICAGO.' 'CHESTNUT STREET' 'LANSING' 'CHICAGOCHICAGO' 'WADSWORTH'
 'WILMETTE' 'WHEATON' 'CHICAGOHICAGO' 'ROSEMONT' 'CHicago' 'CALUMET CITY'
 'PLAINFIELD' 'HIGHLAND PARK' 'PALOS PARK' 'ELK GROVE VILLAGE' 'CICERO'
 'BRIDGEVIEW' 'OAK PARK' 'MAYWOOD' 'LAKE BLUFF' '312CHICAGO'
 'SCHILLER PARK' 'SKOKIE' 'BEDFORD PARK' 'BANNOCKBURNDEERFIELD' 'CHCICAGO'
 'BLOOMINGDALE' 'Norridge' 'CHARLES A HAYES' 'CHCHICAGO' 'CHICAGOI'
 'SUMMIT' 'OOLYMPIA FIELDS' 'WESTMONT' 'CHICAGO HEIGHTS' 'JUSTICE'
 'TINLEY PARK' 'LOMBARD' 'EAST HAZEL CREST' 'COUNTRY CLUB HILLS'
 'STREAMWOOD' 'BOLINGBROOK' 'INACTIVE' 'BERWYN' 'BURNHAM' 'DES PLAINES'
 'LAKE ZURICH' 'OLYMPIA FIELDS' 'alsip' 'OAK LAWN' 'BLUE ISLAND' 'GLENCOE'
 'FRANKFORT' 'NAPERVILLE' 'BROADVIEW' 'WORTH' 'Maywood' 'ALSIP'
 'EVERGREEN PARK']

We can see that this column takes values which are not Chicago. The rows where the 'City' is not Chicago are hence irrelevent to our study and should be dropped. Let's first make sure tha the bulk of the data is for Chicago before proceeding

In [71]:
chicago_inspections = inspections.groupby('City')['Inspection ID'].nunique().filter(regex='(?i)chicago', axis=0)
print('{}% of the inpections in the dataframe come from Chicago.'.format(100 * chicago_inspections.values.sum()/len(inspections)))

99.7884906200188% of the inpections in the dataframe come from Chicago.

We can safely drop the rows which come from cities that are not Chicago.

In [72]:
# list of ways Chicago has been written in the dataset
chicago_variations = chicago_inspections.index.tolist()
inspections = inspections[inspections['City'].isin(chicago_variations)]
# drop the 'City' and 'State' columns since they have each only one value, 'Chicago' and 'IL' respectively
inspections = inspections.drop(columns=['City', 'State'])

Now that we only have facilities in Chicago in our dataset, let us fill the 'Community Areas' column. To that end, we use the geopy library.

Let's see if there are still any missing values in our dataset.

In [49]:
inspections.size

3519612

In [50]:
inspections.isnull().sum()

Inspection ID                      0
DBA Name                           0
AKA Name                        2443
License #                         17
Facility Type                   4776
Risk                              73
Address                            0
Zip                               50
Inspection Date                    0
Inspection Type                    1
Results                            0
Violations                     51810
Latitude                         519
Longitude                        519
Historical Wards 2003-2015    195534
Community Areas               195534
Census Tracts                 195534
Wards                         195534
dtype: int64

array([-87.78575236, -87.73518302, -87.64440716, ..., -87.65396483,
       -87.67381938, -87.69542346])

**Explore the difference between DBA and AKA names**

In [20]:
print ('There are {0} unique DBA (‘Doing business as.’) names in the dataset.'.format(len(inspections['DBA Name'].unique())))

There are 27546 unique DBA (‘Doing business as.’) names in the dataset.

In [21]:
# Display the number of restaurants (we display the unique DBA names)
print ('There are {0} AKA (‘Also known as.’) names in the dataset.'.format(len(inspections['AKA Name'].unique())))

There are 26275 AKA (‘Also known as.’) names in the dataset.

In [22]:
# Explore how DBA and AKA names differ
print ('There are {0} rows where the DBA names and the AKA names differ.'\
       .format((len(inspections[inspections['DBA Name'] != inspections['AKA Name']]))))

There are 50895 rows where the DBA names and the AKA names differ.

In [23]:
print('Examples of different DBA and AKA names : ')
inspections[inspections['DBA Name'] != inspections['AKA Name']].head(2)

Examples of different DBA and AKA names :

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Historical Wards 2003-2015,Community Areas,Census Tracts,Wards
1,2345334,LA MICHOACANA ICE CREAM SHOP,LA MICHOACANA ICE CREAM SHOP,2698396.0,Restaurant,Risk 1 (High),3591-3597 N MILWAUKEE AVE,CHICAGO,IL,60641.0,2019-11-08T00:00:00.000,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.946140,-87.735183,NaN,NaN,NaN,NaN
6,2345217,"LUNA PARK, INC.",LUNA PARK DAY CARE,2215485.0,Children's Services Facility,Risk 1 (High),3250 W FOSTER AVE,CHICAGO,IL,60625.0,2019-11-07T00:00:00.000,License,Pass,49. NON-FOOD/FOOD CONTACT SURFACES CLEAN - Com...,41.975834,-87.710746,NaN,NaN,NaN,NaN