# Relevant imports

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date as dt

import folium
from folium import plugins
from folium.plugins import HeatMap
#http://geopandas.org/install.html
import geopandas as gpd

In [35]:
inspections = pd.read_pickle('./datasets/cleaned_inspections.pickle')

In [36]:
inspections.head(2)

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location,Community Area
0,2316058,CHICAGO TAICHI BUBBLE TEA,CHICAGO TAICHI BUBBLE TEA,2694548,restaurant,1,6800 N SHERIDAN RD,2019-10-18,License Re-Inspection,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,42.005587,-87.661077,"42.00558686485114, -87.66107732040031",Belmont Cragin
1,2315877,CHICAGO TAICHI BUBBLE TEA,CHICAGO TAICHI BUBBLE TEA,2694548,restaurant,1,6800 N SHERIDAN RD,2019-10-15,License,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",42.005587,-87.661077,"42.00558686485114, -87.66107732040031",Belmont Cragin

# Exploratory data analysis

Let's display on a map the different restaurants in our dataset

In [37]:
#We only display restaurant in our map
restaurant_locations = inspections[inspections['Facility Type']=='restaurant']
#We reduce the data size & display only restaurants that still exist in year 2018
restaurant_locations = restaurant_locations[restaurant_locations['Inspection Date'].dt.year==2018]
restaurant_locations = restaurant_locations[['DBA Name', 'Latitude','Longitude']].drop_duplicates()
restaurant_locations_array = np.array(restaurant_locations)

In [46]:
locations_map = folium.Map(location=[41.86087, -87.608945], zoom_start=10)
for i, info in enumerate(restaurant_locations_array):
    folium.Marker(
        location=[info[1], info[2]],
        popup=info[0],
        icon=folium.Icon(color='red', icon='info-sign')).add_to(locations_map)
locations_map.save('restaurants_map.html')
locations_map

In [38]:
len(inspections['Location'].unique())

16244

In [39]:
len(inspections['DBA Name'].unique())

26555

In [40]:
len(inspections['Community Area'].unique())

75

* From the map displayed we see that the icons are stacked and condensed into the same regions, hence this time of displaying does not meet our needs.
* We also see above that apparently the locations of the restaurants we have are not very precise because we have less locations that establishments.Maybe this is also due to the fact that some restaurants which get closed are replaced by others at the same location.

We decide to show a heatmap of the restaurants which will display the restaurants "concentration" (areas with high concentration of restaurants)

In [51]:
locations_heatmap = folium.Map([41.86087, -87.608945], zoom_start=11)

# List comprehension to make out list of lists
heat_data = [[row['Latitude'],row['Longitude']] for index, row in restaurant_locations.iterrows()]

# Plot it on the map
HeatMap(heat_data, radius=14).add_to(locations_heatmap)

# Display the map
#locations_heatmap.save('restaurants_heatmap.html')
locations_heatmap

Now we want to display the community areas as a heatmap of the number of restaurants they have.

Get community areas boundaries from:
https://www.chicago.gov/city/en/depts/doit/dataset/boundaries_-_communityareas.html

In [180]:
# set the filepath and load in a shapefile
fp = "./datasets/boundaries.geojson"
boundaries_community_areas = gpd.read_file(fp)
# check data type so we can see that this is not a normal dataframe, but a GEOdataframe
boundaries_community_areas=boundaries_community_areas[['community','geometry']]
boundaries_community_areas.loc[74,'community']='O\'HARE'
boundaries_community_areas

          community                                           geometry
0           DOUGLAS  MULTIPOLYGON (((-87.60914 41.84469, -87.60915 ...
1           OAKLAND  MULTIPOLYGON (((-87.59215 41.81693, -87.59231 ...
2       FULLER PARK  MULTIPOLYGON (((-87.62880 41.80189, -87.62879 ...
3   GRAND BOULEVARD  MULTIPOLYGON (((-87.60671 41.81681, -87.60670 ...
4           KENWOOD  MULTIPOLYGON (((-87.59215 41.81693, -87.59215 ...
..              ...                                                ...
72  MOUNT GREENWOOD  MULTIPOLYGON (((-87.69646 41.70714, -87.69644 ...
73      MORGAN PARK  MULTIPOLYGON (((-87.64215 41.68508, -87.64249 ...
74           O'HARE  MULTIPOLYGON (((-87.83658 41.98640, -87.83658 ...
75        EDGEWATER  MULTIPOLYGON (((-87.65456 41.99817, -87.65456 ...
76      EDISON PARK  MULTIPOLYGON (((-87.80676 42.00084, -87.80676 ...

[77 rows x 2 columns]

In [181]:
boundaries_community_areas.to_file("boundaries.geojson", driver='GeoJSON')

DriverIOError: GeoJSON driver doesn't support creating a layer on a read-only datasource

In [ ]:
fp = "./boundaries.geojson"
boundaries_community_areas = gpd.read_file(fp)
boundaries_community_areas

We do a sanity check to see if the community areas in the inspection data we got from geopy correspond to the community areas we get from Chicago Government portal.

In [182]:
#We care about restaurants only
restaurants_intensity = inspections[inspections['Facility Type']=='restaurant']
#We focus on year 2018
restaurants_intensity = restaurants_intensity[restaurants_intensity['Inspection Date'].dt.year==2018]
restaurants_intensity = restaurants_intensity[['Community Area','DBA Name']].drop_duplicates().groupby('Community Area')['DBA Name'].agg({'nbr_restaurants' : len})
restaurants_intensity.reset_index(inplace=True)
restaurants_intensity['Community Area'] = restaurants_intensity['Community Area'].str.upper().str.strip()
restaurants_intensity

/Users/macbook/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  """

    Community Area  nbr_restaurants
0      ALBANY PARK              135
1   ARCHER HEIGHTS               49
2    ARMOUR SQUARE               18
3   AUBURN GRESHAM               74
4           AUSTIN              178
..             ...              ...
68       WEST LAWN               79
69    WEST PULLMAN               26
70      WEST RIDGE              258
71       WEST TOWN              363
72        WOODLAWN               36

[73 rows x 2 columns]

There are 4 community areas that we don't have any restaurants in our dataset, let's add them to our data with nbr_restaurants = 0

In [183]:
missing_1 = set(boundaries_community_areas['community'])-set(restaurants_intensity['Community Area'])
missing_1 = pd.DataFrame(missing_1, columns=['Community Area'])
missing_1['nbr_restaurants'] = 0
print("Community areas missing in the inspection dataset: ")
missing_1

Community areas missing in the inspection dataset:

   Community Area  nbr_restaurants
0       EAST SIDE                0
1  JEFFERSON PARK                0
2         ASHBURN                0
3     WEST ELSDON                0
4   BRIGHTON PARK                0

In [184]:
missing_2 = set(restaurants_intensity['Community Area'])-set(boundaries_community_areas['community'])
missing_2 = pd.DataFrame(missing_2, columns=['Community Area'])
print("Community areas missing in the government dataset: ")
missing_2

Community areas missing in the government dataset:

  Community Area
0      CHINATOWN

Also CHINATOWN is mentioned in our dataset but not on the gov data.

After an easy Google search [source](https://www.google.com/search?client=safari&rls=en&q=chinatown+chicago&ie=UTF-8&oe=UTF-8), we see that CHINATOWN is in reality ARMOUR SQUARE

In [185]:
restaurants_intensity.loc[14,'Community Area']='ARMOUR SQUARE'
restaurants_intensity = restaurants_intensity.groupby('Community Area')['nbr_restaurants'].agg({'nbr_restaurants' : sum})
restaurants_intensity.reset_index(inplace=True)

/Users/macbook/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

We can now merge the community areas and display the resulting nbr_restaurants

In [186]:
restaurants_intensity = restaurants_intensity.append(missing_1)
restaurants_intensity.reset_index(inplace=True, drop=True)
restaurants_intensity

    Community Area  nbr_restaurants
0      ALBANY PARK              135
1   ARCHER HEIGHTS               49
2    ARMOUR SQUARE               72
3   AUBURN GRESHAM               74
4           AUSTIN              178
..             ...              ...
72       EAST SIDE                0
73  JEFFERSON PARK                0
74         ASHBURN                0
75     WEST ELSDON                0
76   BRIGHTON PARK                0

[77 rows x 2 columns]

In [190]:
# Initialize the map:
restaurants_by_community = folium.Map([41.86087, -87.608945], zoom_start=11)
 
# Add the color for the chloropleth:
folium.Choropleth(
 geo_data=boundaries_community_areas,
 name='choropleth',
 data=restaurants_intensity,
 columns=['Community Area', 'nbr_restaurants'],
 key_on='columns.community',
 fill_color='YlGn',
 fill_opacity=0.7,
 line_opacity=0.2,
 legend_name='Number of restaurants by community'
)
folium.LayerControl().add_to(restaurants_by_community)
 
# Save to html
restaurants_by_community.save('restaurants_by_community.html')
restaurants_by_community

AttributeError: 'NoneType' object has no attribute 'get'

In [ ]:
import pandas as pd


url = 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data'
state_geo = f'{url}/us-states.json'
state_unemployment = f'{url}/US_Unemployment_Oct2012.csv'
state_data = pd.read_csv(state_unemployment)

m = folium.Map(location=[48, -102], zoom_start=3)

folium.Choropleth(
    geo_data=state_geo,
    name='choropleth',
    data=state_data,
    columns=['State', 'Unemployment'],
    key_on='feature.id',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='Unemployment Rate (%)'
).add_to(m)

folium.LayerControl().add_to(m)

m

In [150]:
gpd.read_file(state_geo)

    id            name                                           geometry
0   AL         Alabama  POLYGON ((-87.35930 35.00118, -85.60667 34.984...
1   AK          Alaska  MULTIPOLYGON (((-131.60202 55.11798, -131.5691...
2   AZ         Arizona  POLYGON ((-109.04250 37.00026, -109.04798 31.3...
3   AR        Arkansas  POLYGON ((-94.47384 36.50186, -90.15254 36.496...
4   CA      California  POLYGON ((-123.23326 42.00619, -122.37885 42.0...
5   CO        Colorado  POLYGON ((-107.91973 41.00391, -105.72895 40.9...
6   CT     Connecticut  POLYGON ((-73.05353 42.03905, -71.79931 42.022...
7   DE        Delaware  POLYGON ((-75.41409 39.80446, -75.50720 39.683...
8   FL         Florida  POLYGON ((-85.49714 30.99754, -85.00421 31.003...
9   GA         Georgia  POLYGON ((-83.10919 35.00118, -83.32279 34.787...
10  HI          Hawaii  MULTIPOLYGON (((-155.63484 18.94827, -155.8813...
11  ID           Idaho  POLYGON ((-116.04751 49.00024, -116.04751 47.9...
12  IL        Illinois  POLYGON ((-90.63998 42.51006, -88.78878 42.493...
13  IN         Indiana  POLYGON ((-85.99006 41.75972, -84.80704 41.759...
14  IA            Iowa  POLYGON ((-91.36842 43.50139, -91.21506 43.501...
15  KS          Kansas  POLYGON ((-101.90605 40.00163, -95.30634 40.00...
16  KY        Kentucky  POLYGON ((-83.90335 38.76931, -83.67879 38.632...
17  LA       Louisiana  POLYGON ((-93.60849 33.01853, -91.16577 33.002...
18  ME           Maine  POLYGON ((-70.70392 43.05776, -70.82441 43.128...
19  MD        Maryland  MULTIPOLYGON (((-75.99465 37.95325, -76.01655 ...
20  MA   Massachusetts  POLYGON ((-70.91752 42.88797, -70.81894 42.871...
21  MI        Michigan  MULTIPOLYGON (((-83.45424 41.73234, -84.80704 ...
22  MN       Minnesota  POLYGON ((-92.01470 46.70540, -92.09137 46.749...
23  MS     Mississippi  POLYGON ((-88.47111 34.99570, -88.20274 34.995...
24  MO        Missouri  POLYGON ((-91.83396 40.60957, -91.72989 40.615...
25  MT         Montana  POLYGON ((-104.04753 49.00024, -104.04206 47.8...
26  NE        Nebraska  POLYGON ((-103.32458 43.00299, -101.62673 42.9...
27  NV          Nevada  POLYGON ((-117.02788 42.00071, -114.04295 41.9...
28  NH   New Hampshire  POLYGON ((-71.08183 45.30330, -71.03254 44.657...
29  NJ      New Jersey  POLYGON ((-74.23655 41.14083, -73.90245 40.998...
30  NM      New Mexico  POLYGON ((-107.42133 37.00026, -106.86816 36.9...
31  NY        New York  POLYGON ((-73.34381 45.01303, -73.33285 44.804...
32  NC  North Carolina  POLYGON ((-80.97866 36.56211, -80.29404 36.545...
33  ND    North Dakota  POLYGON ((-97.22874 49.00024, -97.09730 48.682...
34  OH            Ohio  POLYGON ((-80.51860 41.97880, -80.51860 40.636...
35  OK        Oklahoma  POLYGON ((-100.08771 37.00026, -94.61624 37.00...
36  OR          Oregon  POLYGON ((-123.21135 46.17414, -123.11824 46.1...
37  PA    Pennsylvania  POLYGON ((-79.76278 42.25265, -79.76278 42.000...
38  RI    Rhode Island  MULTIPOLYGON (((-71.19684 41.67757, -71.12017 ...
39  SC  South Carolina  POLYGON ((-82.76414 35.06690, -82.55054 35.160...
40  SD    South Dakota  POLYGON ((-104.04753 45.94411, -96.56056 45.93...
41  TN       Tennessee  POLYGON ((-88.05487 36.49638, -88.07130 36.677...
42  TX           Texas  POLYGON ((-101.81294 36.50186, -100.00007 36.5...
43  UT            Utah  POLYGON ((-112.16436 41.99523, -111.04706 42.0...
44  VT         Vermont  POLYGON ((-71.50355 45.01303, -71.49260 44.914...
45  VA        Virginia  MULTIPOLYGON (((-75.39766 38.01350, -75.24430 ...
46  WA      Washington  MULTIPOLYGON (((-117.03336 49.00024, -117.0443...
47  WV   West Virginia  POLYGON ((-80.51860 40.63695, -80.51860 39.722...
48  WI       Wisconsin  POLYGON ((-90.41543 46.56848, -90.22921 46.508...
49  WY         Wyoming  POLYGON ((-109.08084 45.00207, -105.91517 45.0...

In [151]:
state_data

   State  Unemployment
0     AL           7.1
1     AK           6.8
2     AZ           8.1
3     AR           7.2
4     CA          10.1
5     CO           7.7
6     CT           8.4
7     DE           7.1
8     FL           8.2
9     GA           8.8
10    HI           5.4
11    ID           6.6
12    IL           8.8
13    IN           8.4
14    IA           5.1
15    KS           5.6
16    KY           8.1
17    LA           5.9
18    ME           7.2
19    MD           6.8
20    MA           6.7
21    MI           9.1
22    MN           5.6
23    MS           9.1
24    MO           6.7
25    MT           5.8
26    NE           3.9
27    NV          10.3
28    NH           5.7
29    NJ           9.6
30    NM           6.8
31    NY           8.4
32    NC           9.4
33    ND           3.2
34    OH           6.9
35    OK           5.2
36    OR           8.5
37    PA           8.0
38    RI          10.1
39    SC           8.8
40    SD           4.4
41    TN           7.8
42    TX           6.4
43    UT           5.5
44    VT           5.0
45    VA           5.8
46    WA           7.8
47    WV           7.5
48    WI           6.8
49    WY           5.1