<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Relevant-imports" data-toc-modified-id="Relevant-imports-1">Relevant imports</a></span></li><li><span><a href="#Useful-datasets" data-toc-modified-id="Useful-datasets-2">Useful datasets</a></span></li><li><span><a href="#I.-Visualizing-Restaurants" data-toc-modified-id="I.-Visualizing-Restaurants-3">I. Visualizing Restaurants</a></span><ul class="toc-item"><li><span><a href="#Restaurants-on-a-map" data-toc-modified-id="Restaurants-on-a-map-3.1">Restaurants on a map</a></span></li><li><span><a href="#Heatmap-showing-restaurants-locations-concentration" data-toc-modified-id="Heatmap-showing-restaurants-locations-concentration-3.2">Heatmap showing restaurants locations concentration</a></span></li><li><span><a href="#Number-of-restaurants-by-community-area" data-toc-modified-id="Number-of-restaurants-by-community-area-3.3">Number of restaurants by community area</a></span></li><li><span><a href="#Food-deserts" data-toc-modified-id="Food-deserts-3.4">Food deserts</a></span></li></ul></li></ul></div>

# Relevant imports

In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import math
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

import datetime

from autocorrect import Speller

from datetime import date as dt

import folium
from folium import plugins
from folium.plugins import HeatMap
#http://geopandas.org/install.html
import geopandas as gpd

import geopandas as gpd
from shapely.geometry import shape, Point

import requests
from pandas.io.json import json_normalize
import pandas_profiling

import warnings
warnings.filterwarnings('ignore')

# Useful datasets

In [115]:
socioeconomic_factors = pd.read_csv("datasets/cleaned_socioeconomic_factors.csv")
inspections = pd.read_csv("datasets/cleaned_inspections.csv")
fp = "datasets/boundaries_processed.geojson"
boundaries_community_areas = gpd.read_file(fp)

In [116]:
socioeconomic_factors.columns

Index(['Community Area', 'Community Area Name', 'Colorectal Cancer',
       'Diabetes-related', 'Stroke (Cerebrovascular Disease)',
       'Below Poverty Level', 'Per Capita Income', 'Unemployment',
       'Population'],
      dtype='object')

In [117]:
boundaries_community_areas.columns

Index(['community', 'area_number', 'shape_area', 'geometry'], dtype='object')

In [118]:
inspections.columns

Index(['Inspection ID', 'DBA Name', 'AKA Name', 'License #', 'Facility Type',
       'Risk', 'Address', 'Inspection Date', 'Inspection Type', 'Results',
       'Violations', 'Latitude', 'Longitude', 'Location', 'Community Area',
       'Violation Numbers', 'Violation Comments', 'Reinspections',
       'area_number'],
      dtype='object')

In [ ]:
inspections.loc[:,('Inspection Date')]=inspections.loc[:,('Inspection Date')].apply(pd.to_datetime)

In [ ]:
inspections.dtypes

# I. Visualizing Restaurants

Let us first focus on one of the most important facility types in our dataset: restaurants.

## Restaurants on a map

Let's display the different restaurants in our dataset on a map.

In [5]:
#We only display restaurant in our map
restaurant_locations = inspections[inspections['Facility Type']=='Restaurant']
#We reduce the data size & display only restaurants that still exist in year 2018
restaurant_locations = restaurant_locations[restaurant_locations['Inspection Date'].dt.year==2018]
restaurant_locations = restaurant_locations[['DBA Name', 'Latitude','Longitude']].drop_duplicates()
restaurant_locations_array = np.array(restaurant_locations)

In [177]:
locations_map = folium.Map(location=[41.86087, -87.608945], zoom_start=10)
for i, info in enumerate(restaurant_locations_array):
    folium.Marker(
        location=[info[1], info[2]],
        popup=info[0],
        icon=folium.Icon(color='red', icon='info-sign')).add_to(locations_map)
#locations_map.save('./docs/restaurants_map.html')

**The map can be accessed [here](https://aaag97.github.io/ada-2019-project-databusters/restaurants_map.html)**

In [178]:
len(inspections['Location'].unique())

16812

In [179]:
len(inspections['DBA Name'].unique())

27420

We notice the following:

* From the map displayed we see that the icons are stacked and condensed into the same regions, hence this time of displaying does not meet our needs.
* This is not a good way to display more than 27'420 restaurants in one map as the result is not visible. But it will probably be useful later on when we will want to filter and visualize only a subset of the restaurants.
* We also see above that apparently the locations of the restaurants we have are not very precise because we have less locations that establishments.

For those two last points, it makes more sense to show a heatmap of the restaurants which will display the restaurants "concentration" (areas with high concentration of restaurants)

## Heatmap showing restaurants locations concentration

In [180]:
locations_heatmap = folium.Map([41.86087, -87.608945], zoom_start=11)

# List comprehension to make out list of lists
heat_data = [[row['Latitude'],row['Longitude']] for index, row in restaurant_locations.iterrows()]

# Plot it on the map
HeatMap(heat_data, radius=17).add_to(locations_heatmap)

# Display the map
#locations_heatmap.save('./docs/restaurants_heatmap.html')
#locations_heatmap

**The map can be accessed [here](https://aaag97.github.io/ada-2019-project-databusters/restaurants_heatmap.html)**

As expected, there are a lot more restaurants in the city center of chicago.

## Number of restaurants by community area

Now we want to display the community areas as a heatmap of the number of restaurants they have.

Get community areas boundaries from:
https://www.chicago.gov/city/en/depts/doit/dataset/boundaries_-_communityareas.html

We do a sanity check to see if the community areas in the inspection data we got from geopy correspond to the community areas we get from Chicago Government portal.

In [182]:
#We care about restaurants only
restaurants_intensity = inspections[inspections['Facility Type']=='Restaurant']
#We focus on year 2018
restaurants_intensity = restaurants_intensity[restaurants_intensity['Inspection Date'].dt.year==2018]
restaurants_intensity = restaurants_intensity[['Community Area','DBA Name']].drop_duplicates().groupby('Community Area')['DBA Name'].agg({'nbr_restaurants' : len})
restaurants_intensity.reset_index(inplace=True)
restaurants_intensity['Community Area'] = restaurants_intensity['Community Area'].str.upper().str.strip()
restaurants_intensity

    Community Area  nbr_restaurants
0      ALBANY PARK              118
1   ARCHER HEIGHTS               42
2    ARMOUR SQUARE               94
3          ASHBURN               53
4   AUBURN GRESHAM               49
..             ...              ...
71       WEST LAWN               63
72    WEST PULLMAN               11
73      WEST RIDGE              176
74       WEST TOWN              314
75        WOODLAWN               25

[76 rows x 2 columns]

There is one community area that does not appear in our dataset for the parameters we chose (restaurants in 2018), let's add it to our data with nbr_restaurants = 0.

In [183]:
missing_1 = set(boundaries_community_areas['community'])-set(restaurants_intensity['Community Area'])
missing_1 = pd.DataFrame(missing_1, columns=['Community Area'])
missing_1['nbr_restaurants'] = 0
print("Community areas missing in the inspection dataset: ")
missing_1

Community areas missing in the inspection dataset:

  Community Area  nbr_restaurants
0      RIVERDALE                0

We can now merge the community areas and display the resulting nbr_restaurants

In [184]:
restaurants_intensity = restaurants_intensity.append(missing_1)
restaurants_intensity.sort_values(by=['Community Area'], inplace=True)
restaurants_intensity.reset_index(inplace=True,drop=True)
restaurants_intensity['Community Area'] = restaurants_intensity['Community Area'].astype('str')
restaurants_intensity

    Community Area  nbr_restaurants
0      ALBANY PARK              118
1   ARCHER HEIGHTS               42
2    ARMOUR SQUARE               94
3          ASHBURN               53
4   AUBURN GRESHAM               49
..             ...              ...
72       WEST LAWN               63
73    WEST PULLMAN               11
74      WEST RIDGE              176
75       WEST TOWN              314
76        WOODLAWN               25

[77 rows x 2 columns]

In [185]:
# Initialize the map:
restaurants_by_community = folium.Map([41.86087, -87.608945], zoom_start=11, tiles = "cartodbpositron")
 
# Add the color for the chloropleth:
restaurants_by_community.choropleth(
 geo_data=fp,
 data=restaurants_intensity,
 columns=['Community Area', 'nbr_restaurants'],
 key_on='feature.properties.community',
 fill_color='YlGn',
 fill_opacity=0.7,
 line_opacity=0.2,
 legend_name='Number of restaurants by community'
)
folium.LayerControl().add_to(restaurants_by_community)
 
# Save to html
#restaurants_by_community.save('./docs/restaurants_by_community.html')
#restaurants_by_community

**The map can be accessed [here](https://aaag97.github.io/ada-2019-project-databusters/restaurants_by_community.html)**

The results we obtain are consistent with the ones we had in the heatmap: More restaurants are concentrated around the city center of Chicago.

Another pattern also emerges, the northern community areas of the city seems to contain more restaurants than the southern ones.

## Food deserts

**Context:**

After a small research, we found out about a problem affecting public health in Chicago at a large scale called **Food deserts**. In a report by the Illinois Advisory Committee to the United States Commission on Civil Rights, it is reported that some of the community areas in Chicago are lacking supermarkets, grocery stores and healthy food in general. Restricted access to healthy foods lead to higher rates of chronic illness like diabetes, hypertension, or cardiovascular disease. [source](https://www.usccr.gov/pubs/docs/IL-FoodDeserts-2011.pdf)

Furthermore, it is stated in the report that these food desert neighborhoods are almost exclusively in African American neighborhoods making the issue a civil rights one beyond its public health dimension.

**In the next part we will try to see if we can visualize the food deserts using the food inspection dataset**

**Approach to the problem**

* We first try to look at establishments that represent healthy food providers (grocery store, farmer's market, fish market, meat market, etc). These establishments also have inspections and so we retrieve them from our dataset and plot their intensity by 1'000 habitants for the different community areas.

* We then try to visualize on a map the most common ethnicity accross all community areas as well as some socio economic factors.

* In the end we will show diet related disease rates by community area as well and try to see how it relates.

In [111]:
#We care about grocery stores only
groceries_intensity = inspections[inspections['Facility Type']=='Market']
# We take distinct markets ranging from year 2015 to 2019
# This is because some establishment do not receive any inspection on a given year sometimes 
groceries_intensity = groceries_intensity[groceries_intensity['Inspection Date'].dt.year==2018]
groceries_intensity = groceries_intensity[['Community Area','DBA Name','area_number']].drop_duplicates().groupby(['Community Area','area_number'])['DBA Name'].agg({'nbr_markets' : len})
groceries_intensity.reset_index(inplace=True)
groceries_intensity.head(1)

  Community Area  area_number  nbr_markets
0    ALBANY PARK           14           25

In [113]:
groceries_intensity['nbr_markets'] = groceries_intensity['nbr_markets'].div(boundaries_community_areas['shape_area'].values,axis=0)
groceries_intensity['nbr_markets']=groceries_intensity['nbr_markets']*10000
groceries_intensity

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [103]:
# Here we tried to compute intensity of markets by 1000 habitant but it was not representative at all, 
# because some community areas are really small in surface and have so little population but then the nbr 
# of grocery stores in there is bigger than all the others
"""population_by_community = socioeconomic_factors[['Community Area','Population']]
groceries_intensity = groceries_intensity.merge(population_by_community,\
                              left_on='area_number', right_on='Community Area')
groceries_intensity['nbr_markets'] = groceries_intensity['nbr_markets'].div(groceries_intensity['Population'].values,axis=0)
groceries_intensity['nbr_markets']=groceries_intensity['nbr_markets']*1000
groceries_intensity.drop(columns=['Community Area_y','Population'], inplace=True)
groceries_intensity.rename(columns={'Community Area_x':'Community Area','nbr_markets':'markets_1000people'}, inplace=True)
groceries_intensity"""

    Community Area  area_number  markets_1000people
0      ALBANY PARK           14            0.484731
1   ARCHER HEIGHTS           57            0.075420
2    ARMOUR SQUARE           34            0.806747
3          ASHBURN           70            0.092415
4   AUBURN GRESHAM           71            0.502513
..             ...          ...                 ...
72       WEST LAWN           65            0.297663
73    WEST PULLMAN           53            0.292274
74      WEST RIDGE            2            0.434057
75       WEST TOWN           24            0.367046
76        WOODLAWN           42            0.268982

[77 rows x 3 columns]

In [104]:
# Initialize the map:
groceries_by_community = folium.Map([41.86087, -87.608945], zoom_start=10, tiles = "cartodbpositron")
 
# Add the color for the chloropleth:
groceries_by_community.choropleth(
 geo_data=fp,
 data=groceries_intensity,
 columns=['Community Area', 'markets_1000people'],
 key_on='feature.properties.community',
 fill_color='YlGn',
 fill_opacity=0.7,
 line_opacity=0.2,
 legend_name='Number of grocery stores by community'
)
folium.LayerControl().add_to(groceries_by_community)
 
# Save to html
groceries_by_community.save('./groceries_by_community.html')
#groceries_by_community

**The map can be accessed [here](https://aaag97.github.io/ada-2019-project-databusters/groceries_by_community.html)**

"Chicago’s segregation is certainly legendary, with the North and South sides divided by class and race. To keep it stereotypically simple: The North Side is white, the South Side is black." [source](https://chicago.eater.com/2018/12/13/18138387/chicago-magazine-john-kessler-food-scene-racism-immigration-food)

We certainly see a difference in the concentration of grocery stores between the North and the South, the south being quite sparse.

* **For the next milestone, we will visualize the evolution of this distribution accross years using timestamps.**
* **We will also plot the density of markets per 1'000 habitants in a community area which seems more fair than plotting the absolute number of markets.**
* **We also have in our dataset health related establishments serving food, and from the health indicators dataset, diabetes and other diet related diseases rates which can be interesting to explore as well against what get from the markets visualization.**